<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>You have requested to reset your password. Click on the following link to reset it:</p>
    {{!-- TODO: We should be updating this based on the FE --}}
    <a href="{{resetToken}}">{{resetToken}}</a>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Best regards,<br>HenryJobHub Support</p>
</body>
</html>
